

Aula 4 - python

Exercício 1

In [ ]:
print('Olá mundo! Esse é o meu primeiro programa')

Olá mundo! Esse é o meu primeiro programa

Exercício 2

In [ ]:
print('Caio')
print('Rua 123')
print('CEP: 2120021-00')

Caio
Rua 123
CEP: 2120021-00

Exercício 3

In [ ]:
nome = input('Digite seu nome')

print(f'Olá {nome}!')

Digite seu nomecaio
Olá caio!

Exercício 4

In [ ]:
n1 = input('Insira o primeiro número:')
n2 = input('Insira o segundo número:')

soma = int(n1)+int(n2)

print(f'A soma de {n1} e {n2} = {soma}')

Insira o primeiro número:2
Insira o segundo número:3
A soma de 2 e 3 = 5

Exercício 5

In [ ]:
n1 = float(input('Insira a primeira nota:'))
n2 = float(input('Insira a segunda nota:'))
n3 = float(input('Insira a terceira nota:'))
n4 = float(input('Insira a quarta nota:'))

media = (n1+n2+n3+n4)/4
print(f'A média é: {media:.2f}')

Insira a primeira nota:10
Insira a segunda nota:9
Insira a terceira nota:8
Insira a quarta nota:7
A média é: 8.50

Exercício 6

In [ ]:
v1 = float(input('Digite o primeiro valor'))
v2 = float(input('Digite o segundo valor'))

print(v1 > v2)20

Digite o primeiro valor10
Digite o segundo valor20
False

Exercício 7

In [ ]:
frase = 'Os limites só existem se você os deixarem existir.(goku)'

print(len(frase))

print(frase[50:])

56
(goku)

Exercício 8

In [ ]:
phrase = input('Digite aqui ').upper()

print(phrase.replace(' ',''))

Digite aqui Agora vai
AGORAVAI

Exercício 9

In [26]:
nome = input('Insira o nome: ').upper()
endereco = input('Insira o endereco: ').lower()
hobby = input('Insira o seu hobby: ').capitalize()

print(nome)
print(endereco)
print(hobby)

Insira o nome: Caio
Insira o endereco: Endereco
Insira o seu hobby: boo
CAIO
endereco
Boo

Projeto - exercicio 1

In [29]:
real = float(input('Insira o valor em real'))

resultado = real / 5.75

print(f'R${real},é equivalente a ${resultado:.2f}')

Insira o valor em real10
R$10.0,é equivalente a $1.74

exercicio 1 - parte 2

In [30]:
real = float(input('Insira o valor em dolar'))

resultado = real * 5.75

print(f'${real},é equivalente a R${resultado:.2f}')

Insira o valor em dolar10
$10.0,é equivalente a R$57.50

exercicio 2 - parte 1

In [36]:
aluguel = float(input('Insira o aluguel: '))

result = aluguel * 1.31

print(f'Aluguel em R${aluguel:.2f} reajustado: R${result:.2f}')

Insira o aluguel: 1000
Aluguel em $1000.00 reajustado: R$1310.00

exercício 2 - parte 2

In [38]:
aluguel = float(input('Insira o aluguel: '))
porcent = int(input('Insira a porcentagem: '))

result = (aluguel*porcent)/100+aluguel

print(f'Aluguel em R${aluguel:.2f} reajustado a {porcent}%: R${result:.2f}')

Insira o aluguel: 100
Insira a porcentagem: 20
Aluguel em $100.00 reajustado a 20%: R$120.00

Exercício 3 - parte 1

In [42]:
vmonstro = float(input('Insira os pontos de vida do monstro (10 a 50)'))
ataque = float(input('Insira os pontos de ataque (entre 5 e 10)'))
i = 0
while vmonstro > 0:
  i+=1
  vmonstro = vmonstro - ataque
print(f'Demorará {i} turnos para derrotar o monstro.')

Insira os pontos de vida do monstro (10 a 50)50
Insira os pontos de ataque (entre 5 e 10)10
Demorará 5 turnos para derrotar o monstro.

Exercicio 3 - parte 2

In [44]:
import random
vmonstro = random.randint(10,50)
ataque = float(input('Insira os pontos de ataque (entre 5 e 10) '))

i = 0
vm = vmonstro

while vmonstro > 0:
  i+=1
  vmonstro = vmonstro - ataque

print(f'Demorará {i} turnos para derrotar o monstro, que tem {vm}')

Insira os pontos de ataque (entre 5 e 10)5
Demorará 3 turnos para derrotar o monstro, que tem 15